#!/bin/sh

(
    mount -t devpts devpts /dev/pts &&
    dropbear \
        -r {{ fs.dropbear_dir | quote_sh }}/ed25519_host_key \
        -s -g -a -K 300 -e
) && pkill telnet

serialgateway -b 57600 &
