#!/bin/ash
# shellcheck shell=dash
set -euo pipefail
JFFS2_DIR={{ fs.jffs2_dir | quote_sh }}
MOD_DIR={{ fs.mod_dir | quote_sh }}
MOD_INIT_DIR={{ fs.mod_init_dir | quote_sh }}
MOD_BIN_DIR={{ fs.mod_bin_dir | quote_sh }}
{% set new_mnt = fs.jffs2_dir / fs.new_mnt %}
NEW_MNT={{ new_mnt | quote_sh }}
MOD_INSTALLING="$MOD_DIR"/installing
MOD_REMOVING="$MOD_DIR"/removing
MOD_DONE="$MOD_DIR"/done
SCRIPT_DIR="$(dirname "$0")"

err () { "$@" 1>&2; }
echoerr () { err echo "$@"; }

check_platform () {
    if [ "3.4.1.1" != "$(cat /version)" ]; then
        echoerr Hack not tested to work on this version
        exit 1
    fi
}

check_not_in_progress () {
    if [ -e "$MOD_INSTALLING" ]; then
        echoerr "Mod install is in in progress or was interrupted at some point"
        exit 1
    fi
    if [ -e "$MOD_REMOVING" ]; then
        echoerr "Mod removal is in progress or was interrupted at some point"
        exit 1
    fi
}

mod_install () {
    {% set init_path = "ProgramFiles/etc/init.d" %}
    local init_path={{ init_path | quote_sh }}

    echo Copying hack to persistent storage
    cp -r "$SCRIPT_DIR" "$MOD_DIR"
    touch "$MOD_INSTALLING"

    echo Moving unused vihome app data
    mkdir "$MOD_DIR"/unused/
    (
        cd "$JFFS2_DIR" &&
        mv device_manager.db \
        kvdata.db \
        log.db \
        logs \
        vihome2.db \
        zigbee_information \
        "$MOD_DIR_NAME"/unused/
    )
    touch "$JFFS2_DIR"/logs

    echo Setting executable permissions
    chmod +x "$MOD_INIT_DIR"/*
    chmod +x "$MOD_BIN_DIR"/*

    echo Modifying init sequence
    mkdir -p "$MOD_DIR"/unused/"$init_path"/

    {% set jffs2_init_path = fs.jffs2_dir / init_path %}
    cp "$JFFS2_DIR"/"$init_path"/rc.local "$MOD_DIR"/unused/"$init_path"/ &&
        ln -sf {{ fs.mod_init_dir / "main.sh" | relative_to(jffs2_init_path) | quote_sh }} \
            {{ jffs2_init_path | quote_sh }}/rc.local

    echo "Install done"
    touch "$MOD_DONE" && rm "$MOD_INSTALLING"
}

mod_remove () {
    touch "$MOD_REMOVING"
    local init_path=ProgramFiles/etc/init.d

    echo Restoring init script
    cp "$MOD_DIR"/unused/"$init_path"/rc.local "$JFFS2_DIR"/"$init_path"/rc.local

    echo Restoring vihome app data and removing hack files
    rm "$NEW_MNT"/logs
    {% set unused_dir = fs.mod_dir / "unused" %}
    (
        cd {{ unused_dir | quote_sh }} &&
        mv device_manager.db \
        kvdata.db \
        log.db \
        logs/ \
        vihome2.db \
        zigbee_information \
        {{ new_mnt | relative_to(unused_dir) | quote_sh }}
    ) && rm -rf {{ new_mnt / fs.mod_dir_name }}

    echo "Uninstall done"
}

check_platform
check_not_in_progress

case "$1" in
    install)
        if [ -e "$MOD_DONE" ]; then
            echoerr "Mod already installed"
            exit 0
        fi
        mod_install
    ;;
    remove)
        if ! [ -e "$MOD_DONE" ]; then
            echoerr "Mod not installed"
            exit 0
        fi
        mod_remove
    ;;
    *)
        echoerr "Not a command: $1"
        exit 1
    ;;
esac
